/* =Contact Form
-------------------------------------------------------------- */

/* Centre the form within the page */
form {
    margin:0 auto;
    margin-top:55px;
    width:459px;
}

/* Style the text boxes */
input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

textarea {
	height:213px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

input {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#submit {
    width:127px;
    height:38px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

#submit:hover {
    opacity:.9;
}

form input,
form textarea {
	margin-bottom: 14px;
}

#required {
	color: red;
}

input#spam {
	width: 20px;
	height: 20px;
}